In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
pwd

'C:\\Users\\acer\\Desktop\\python practice\\random forest'

In [4]:
df = pd.read_csv('credit-card-default.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,defaulted
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID           30000 non-null int64
LIMIT_BAL    30000 non-null int64
SEX          30000 non-null int64
EDUCATION    30000 non-null int64
MARRIAGE     30000 non-null int64
AGE          30000 non-null int64
PAY_0        30000 non-null int64
PAY_2        30000 non-null int64
PAY_3        30000 non-null int64
PAY_4        30000 non-null int64
PAY_5        30000 non-null int64
PAY_6        30000 non-null int64
BILL_AMT1    30000 non-null int64
BILL_AMT2    30000 non-null int64
BILL_AMT3    30000 non-null int64
BILL_AMT4    30000 non-null int64
BILL_AMT5    30000 non-null int64
BILL_AMT6    30000 non-null int64
PAY_AMT1     30000 non-null int64
PAY_AMT2     30000 non-null int64
PAY_AMT3     30000 non-null int64
PAY_AMT4     30000 non-null int64
PAY_AMT5     30000 non-null int64
PAY_AMT6     30000 non-null int64
defaulted    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB

In [6]:
from sklearn.model_selection import train_test_split

In [23]:
X = df.drop('defaulted',axis=1)

y = df['defaulted']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state=101)

In [24]:
from sklearn.ensemble import RandomForestClassifier

rfc= RandomForestClassifier()

In [25]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [26]:
predictions = rfc.predict(X_test)

In [27]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [28]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.83      0.94      0.88      7058
           1       0.59      0.30      0.39      1942

    accuracy                           0.80      9000
   macro avg       0.71      0.62      0.64      9000
weighted avg       0.78      0.80      0.78      9000

In [29]:
print(confusion_matrix(y_test,predictions))

[[6659  399]
 [1368  574]]

In [31]:
print(accuracy_score(y_test,predictions))

0.8036666666666666

In [120]:
param = {'max_features': range(9,12,1), 
         'n_estimators': range(100,150,10), 
         'max_depth': range(4,11,1), 
         'min_samples_split': [400],
         'min_samples_leaf': range(40,60,10)}

In [102]:
grid_search.best_params_

{'max_depth': 3,
 'max_features': 10,
 'min_samples_leaf': 40,
 'min_samples_split': 400,
 'n_estimators': 120}

In [121]:
from sklearn.model_selection import GridSearchCV

In [123]:
rf = RandomForestClassifier()

grid_search = GridSearchCV(estimator = rf, param_grid= param, cv = 5, n_jobs = -1, verbose=1)

In [124]:
grid_search.fit(X_train,y_train)

Fitting 5 folds for each of 210 candidates, totalling 1050 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   22.3s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed: 15.9min
[Parallel(n_jobs=-1)]: Done 1050 out of 1050 | elapsed: 23.0min finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': range(4, 11),
                         'max_features': range(9, 12),
                         'min_samples_leaf': range(40, 60, 10),
                         'min_samples_split': [400],
                         'n_estimators': range(100, 150, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [125]:
grid_search.best_score_

0.8191904761904761

In [126]:
grid_search.best_params_

{'max_depth': 4,
 'max_features': 10,
 'min_samples_leaf': 40,
 'min_samples_split': 400,
 'n_estimators': 100}

In [127]:
rf1 = RandomForestClassifier(max_depth=4,max_features=10,min_samples_leaf = 40, min_samples_split = 400, n_estimators = 100 )

In [128]:
rf1.fit(X_train,y_train)
prediction=rf1.predict(X_test)

print('classification report:\n',classification_report(y_test,prediction))
print('accuracyscore:\n', accuracy_score(y_test,prediction))
print(confusion_matrix(y_test,prediction))

classification report:
               precision    recall  f1-score   support

           0       0.84      0.96      0.90      7058
           1       0.69      0.35      0.47      1942

    accuracy                           0.83      9000
   macro avg       0.77      0.65      0.68      9000
weighted avg       0.81      0.83      0.80      9000

accuracyscore:
 0.8263333333333334
[[6755  303]
 [1260  682]]